/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
.font-sm {
  font-size: 16px;
}
.font-md {
  font-size: 19px;
}
.font-lr {
  font-size: 23px;
}
.font-lg {
  font-size: 36px;
}
.mb-lg {
  margin-bottom: 150px !important;
}
.pb-lg {
  padding-bottom: 150px !important;
}
.fixed-bg {
  height: 300px;
  background-attachment: fixed;
}
.flex{
  flex-direction: row;
}
.sub-title{
  font-size: 40px;
}
#menu {
  margin-top: 20px;
  .menu{
    &__left{
      border-right: solid 1px #000;
      width: 50%;
      padding: 0 45px;  
    }
    &__right{
      width: 50%;
      padding: 0 45px;  
    }
    &__title{
      font-size: 72px;
    }
  }
}
.about{
  &__text{
    justify-content: space-between;
    &__left,
    &__right{
      flex-basis: 48%;
    }
  }
  &__title{
    font-size: 72px;
  }
  &__text1,
  &__text2,
  &__text3,
  &__text4{
    margin-bottom:40px;
  }
}
.btn-frame{
  margin:11px auto 150px;
}
.location{
  &__title{
    font-size: 72px;;
  }
}